.modalDialog {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}
.closeModal {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-left: 100px;
}
.closeModal:after {
    content: "\d7";
}
.closeModal:hover {
    background: #f00;
}
/*fomulario de contato*/


.formContato input {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
    border: #606061;

}
.formContato textarea {
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}
.botaoContato {
    margin-left: 520px;
    margin-right: 10px;
    margin-top: 1px;
}
.pgContato input {
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.pgContato textarea {
    padding-left: 20px;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.sizecampo{
    width: 95%;
    height: 35px;

    margin-left:10px;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border: 1px solid #cccccc;

}
.botaoContato {
    border-radius: 4px;
    color: #fff;
    padding: 2px 40px;
    height: 40px;
    margin-top: 13px;
    opacity: 0.9;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
}
.botaoContato:hover {
    background: darkred;
    transition: 1s;
}

.h2 {
    text-align: center;
}

select {
    font:18px Arial;
    color: black;
}



/*RESPONSIVIDADE MAX_WIDTH 764PX*/

@media(max-width:  764px){
    .formContato{
        width: 55%;
        position: relative;

    }
}
@media (max-width:764px ) {
    .modalDialog > div {
        width: 80%;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;


    }
}




@media(max-width:  764px){
    .pgContato input {
        padding-left: 20px;
        font-size: 18px;
        border: 1px solid #cccccc;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        height: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        width: 160%;
    }

}

@media(max-width:  764px){
    .closeModal {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }

}
@media(max-width:  764px){
    .h2 {
        margin-left: -10px;
    }

}
@media(max-width:  764px){
    .botaoContato {
        border-radius: 4px;
        color: #fff;
        padding: 2px 40px;
        height: 40px;
        margin-top: 13px;
        opacity: 0.9;
        margin-bottom: 20px;
        cursor: pointer;
        background: #B22222;
        display: inline-block;
        border: none;
        border-bottom: 1px solid #500707;
        border-right: 1px solid #500707;
        margin-left: 130px;
    }

}
@media(max-width:  764px){
    .sizecampo{
        width: 160%;
        height: 35px;
        margin-left:10px;
        border-bottom: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border: 1px solid #cccccc;
        position: relative;

    }

}


@media(max-width:  764px){
    select {
        font:15px Arial;
        color: #606061;
    }


}


/*END RESPONSIVIDADE */





